.container {
  padding: 2px 16px;
}

.animeCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 20px;
}

.animeTitle {
  padding-top: 10px;
}